.pulsante {
    display:block;
    border:1px solid #345;
    width:100px;
    margin:4px;
    padding:6px;
    text-align:center;
    background-color:#CCC;
    color:#303030;
    font-weight:bold;
    border-left-width:5px;
    text-decoration:none;

}
.pulsante:hover {
    text-decoration:underline;
    color:#CCC;
    background-color: #303030;
}