*{
    /*CSS reset*/
    padding:0;
    margin:0;
}
#wrapper{
    border:1px solid #F00;
    width:500px;
    height:200px;
    padding:15px;
    margin:20px auto;
    overflow:auto;
}
.cliccable {
    color:blue;
    text-decoration:underline;
}
.cliccable:hover{
    cursor:pointer;
}