th{
    background-color:#777;
    padding:10px;
}
.italiano{
    background-color: #AAF;
}
.sistemi{
    background-color: #AFA;
}
.tele{
    background-color: #FAA;
}
.ginnastica{
    background-color: #FFA;
}
.tpsit{
    background-color: #AFF;
}
.religione{
    background-color: #F00;
}
.complementi{
    background-color:#BBA;
}
.storia{
    background-color: #FAF;
}
.matematica{
    background-color:#ABB;
}
.info{
    background-color: #AAA;
}
.inglese{
    background-color: #FBA;
}